# SQL and Relational Databases

For this challenge, we have collected data from the [PokeAPI](https://pokeapi.co/docs/v2.html) and put it into SQL tables.  Specifically, a SQLite database located at `'../data/pokemon.db'`.  The database schema is:

<img src="pokemon_db.png" alt="db schema" style="width:500px;"/>

Assign your SQL queries as strings to the variables `q1`, `q2`, etc. and run the cells to print your results as pandas dataframes.  *You do not need to change any of the Python code in this challenge, only the contents of the query strings.*

Important note on syntax: use `"double quotes"` when quoting strings **within** your query and wrap the entire query in `'single quotes'` or `'''triple single quotes'''`.

In [ ]:
import pandas as pd
import sqlite3

In [ ]:
cnx = sqlite3.connect('../data/pokemon.db')

In [ ]:
# Example query: select the first 5 types in the "types" table
example_q = 'SELECT * FROM types LIMIT 5;'
pd.read_sql(example_q, cnx)

In [ ]:
# q1: Find all the pokemon on the "pokemon" table. Display all columns. 
q1 = ''
pd.read_sql(q1, cnx)

In [ ]:
# q2: Find all the rows from the "pokemon_types" table where the type_id is 3.
q2 = ''
pd.read_sql(q2, cnx)

In [ ]:
# q3: Find all the rows from the "pokemon_types" table where the associated type is "water".
# Do so without hard-coding the id of the "water" type, using only the name.
q3 = ''
pd.read_sql(q3, cnx)

In [ ]:
# q4: Find the names of all pokemon that have the "psychic" type.
q4 = ''
pd.read_sql(q4, cnx)

In [ ]:
# q5: Find the average weight for each type.
# Order the results from highest weight to lowest weight.
# Display the type name next to the average weight.
q5 = ''
pd.read_sql(q5, cnx)

In [ ]:
# q6: Find the names and ids of all the pokemon that have more than 1 type. 
q6 = ''
pd.read_sql(q6, cnx)

In [ ]:
# q7: Find the id of the type that has the most pokemon.
# Display type_id next to the number of pokemon having that type. 
q7 = ''
pd.read_sql(q7, cnx)